* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: orange;
}

.active {
    color: tomato;
}

.header {
    margin-top: 50px;
}

.container {
    max-width: 75%;
    padding: 0 15px;
    margin: 0 auto;
}

.header h1 {
    font-size: 32px;
    font-weight: 700;
}

.navbar {
    margin: 30px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* .navbar a {
    margin-right: 10px;
} */

main {
    flex-grow: 1;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.image img {
    text-align: center;
    height: 100%;
    max-width: 75%;
}

.table {
    border-collapse: collapse;
    text-align: center;
    width: 70%;
}

.table th, td {
    padding: 10px;
    border: 1px solid black;
}

.table th {
    font-weight: 700;
}

footer {
    flex-shrink: 0;
    color: white;
    background: black;
    padding: 40px 0;
}

@media (max-width: 800px) { 
    .image img {
        width: 500px;
    }

    .navbar {
        justify-content: space-between;
    }
}

@media (max-width: 600px) { 
    .header h1 {
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        font-size: 24px;
    }

    .image img {
        max-width: 100%;
    }

    .table th, td {
        font-size: 18px;
    }
}

@media (max-width: 400px) { 
    .table th, td {
        font-size: 16px;
    }
}